.woocommerce-ordering .orderby {
max-width: 150px;
background-color: transparent;
color: inherit;
}
.cfvsw-variation-disable-logic tbody,
.cfvsw-variation-disable-logic tbody tr {
   row-gap: 2px;
}
.cfvsw-shop-variations .cfvsw-swatches-container {
   margin: 0 auto;
}
